<div class="bg-magellan-50">
  <%= render 'shared/sections/hero' %>
  <%= render 'shared/sections/cta' %>
  <%= render 'shared/sections/trending' %>
  <%= render 'shared/sections/categories' %>
  <%= render 'shared/sections/testimonials' %>
</div>
