<div class="flex min-h-full">
  <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <%= image_tag 'logos/MagellanBoat.png', class: 'h-10 w-auto', alt: "Magellan Boat Logo" %>
        <h2 class="mt-8 text-2xl font-bold leading-9 tracking-tight text-gray-900">Login</h2>
        <p class="mt-2 text-sm leading-6 text-gray-500">
          Not a member?
          <%= link_to "Sign Up", new_user_registration_path, class: "font-semibold text-primary hover:text-secondary"%>
        </p>
      </div>
      <div class="mt-10">
        <div>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'space-y-6' }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div>
              <%= f.input :email,
                        required: true,
                        autofocus: true,
                        autocomplete: "email",
                        input_html: { class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50', autocomplete: 'email' },
                        label_html: { class: 'block text-sm font-medium leading-6 text-gray-700' } %>
            </div>
            <div>
              <%= f.input :password,
                        required: true,
                        autocomplete: "current-password",
                        input_html: { class: 'block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50', autocomplete: 'new-password' },
                        label_html: { class: 'block text-sm font-medium leading-6 text-gray-700' } %>
            </div>
            <div class="flex items-center justify-between">
              <% if devise_mapping.rememberable? %>
                <div class="flex items-center">
                  <%= f.input :remember_me, as: :boolean,
                input_html: { class: 'mr-3 h-4 w-4 rounded border-primary text-magellan-500 focus:ring-magellan-600' },
                label_html: { class: 'ml-3 block text-sm leading-6 text-gray-700' }
                %>
                </div>
              <% end %>
              <div class="text-sm leading-6">
                <%= link_to "Forgot password?", new_user_password_path, class: "font-semibold text-primary hover:text-secondary" %>
              </div>
            </div>
            <div>
              <%= f.button :submit, "Login", class: "btn-submit" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="relative hidden w-0 flex-1 lg:block">
    <img class="absolute inset-0 h-full w-full object-cover" src="https://images.unsplash.com/photo-1496917756835-20cb06e75b4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1908&q=80" alt="">
  </div>
</div>
