<!DOCTYPE html>
<html>
  <head>
    <title>Magellan Rewards</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="An application for local rewards, discounts, and information for the Magellan communities.">
    <meta name="keywords" content="Magellan Rewards">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%# class="container mx-auto mt-28 px-5 flex" %>
    <main >
      <%= render 'shared/navbar' %>
      <% if alert %>
        <%= tag.p alert, class: "bg-red-100 text-red-900 p-3 rounder"%>
      <% end %>
      <% if notice %>
        <%= tag.p notice, class: "bg-green text-green-900 p-3 rounded" %>
      <% end %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </main>
  </body>
</html>
